.book-form {
  width: 100%;
  background: #eee;
  padding: 1.5rem;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.search-tour {
  font-size: 1.8rem;
  color: #211f1f;
}
.span-search {
  font-size: 1.5rem;
}
.span-tour {
  color: #149c90;
}
.form .input {
  display: block;
  border-radius: 0;
  border: 0;
  outline: none;
  text-transform: capitalize;
  background: transparent;
  margin-top: 1rem;
}
.form label {
  font-size: 1rem;
  color: #3d3d3d;
}
.log {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  width: 8rem;
  padding: 1rem;
  background-color: #149c90;
  border: 1px solid #149c90;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.log:hover {
  background-color: #11857b;
  border: 1px solid #11857b;
}
